body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
}

canvas {
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%);
}

p {
    position: relative;
    text-align: center;
    font-family: 'Game Over', 'sans-serif';
    font-size: 100px;
}